[submodule "Q4-ts-prereq"]
	path = Q4-ts-prereq
	url = https://github.com/hdharish01/Q4-ts-prereq.git
[submodule "Q4-rs-prereq"]
	path = Q4-rs-prereq
	url = https://github.com/hdharish01/Q4-rs-prereq.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/hdharish01/Q3-solana-starter.git
[submodule "q4-vault"]
	path = q4-vault
	url = https://github.com/hdharish01/q4-vault.git
